body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#image-escena {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

#texto-escena {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.botones {
  display: flex;
  justify-content: center;
}

button {
  padding: 12px 24px;
  margin: 0 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.escena {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
 
  margin-bottom: 40px;
}
 